<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Подробности</title>
</head>
<body>
    <h1>Подробности</h1>
    <div>
        <p><strong>Брэнд:</strong> <span th:text="${car.brand}"></span></p>
        <p><strong>Тип:</strong> <span th:text="${car.type}"></span></p>
        <p><strong>Год:</strong> <span th:text="${car.year}"></span></p>
        <p><strong>Пробег:</strong> <span th:text="${car.mileage}"></span> км</p>
        <p><strong>Цвет:</strong> <span th:text="${car.color}"></span></p>
        <p><strong>Ценна:</strong> <span th:text="${car.price}"></span> руб.</p>
    </div>
</body>
</html>
